{% extends 'baseguia.html.twig' %}

 {% block body %} 
     
     <h1 class="titulo">Recuperar Contraseña </h1>
 
     <p class="parrafo">
     Puedes actualizar o cambiar tu contraseña en el Menú Lateral: Usuario->Actualizar Contraseña
     </p>
    
     <div class="central"> 
     <img  src="{{asset('img/guia/Ingreso/cambiarpass.png')}}" width="400">
     </div>
     <p class="parrafo">
     Debes escribir una contraseña mayor o igual a 8 caracteres, y repetirla para asegurarse que la escribistes bien.
     </p>
    
     <div class="central"> 
     <img  src="{{asset('img/guia/Ingreso/cambiarpass2.png')}}" width="700">
     </div>
     
        
 {% endblock body %} 
 