{% extends 'baseguia.html.twig' %}

 {% block body %} 
     
     <h1 class="titulo">Ingreso al Sistema Ripes </h1>
 
     <p class="parrafo">
         Para Ingresar al Sistema debe contar con correo electrónico y contraseña registrado.
     </p>
     
     <div class="central"> 
     <img  src="{{asset('img/guia/Ingreso/ingreso.png')}}" width="700">
     </div>
     
     <p class="parrafo">
         <strong>NOTA:</strong> si no cuentas con los datos para acceder al sistema, solicitalo a tu Coordinador de Aldea o al Administrador del Sistema enviando un correo a sistemaripesfalcon@gmail.com	
     </p>    
 {% endblock body %} 
 