{% extends 'baseguia.html.twig' %}

 {% block body %} 
     
     <h1 class="titulo">Recuperar Contraseña </h1>
 
     <p class="parrafo">
     Si no recuerdas la contraseña, se te puede enviar una provisional a tu correo electrónico haciendo click al boton:<img src="{{asset('img/guia/Ingreso/olvidecontrasenya.png')}}"/>
     </p>
     <p class="parrafo">
     Este abrirá un formulario en donde debes ingresar el correo electrónico que este registrado en el sistema:    
     </p>
     
     <div class="central"> 
     <img  src="{{asset('img/guia/Ingreso/recuperarcontraseny.png')}}" width="700">
     </div>
        
 {% endblock body %} 
 